body {
  background: radial-gradient(lightblue 70%, cyan);
}

.container {
  margin: 30px;
  border: 10px;
  padding: 30px;

}
.questionButton {
  display: block;
}

.pictureChoice img {
  width: 220px;
  height: 220px;

}

.answerC {
  display: none;
}

.answerREACT {
  display: none;
}
.answerRuby {
  display: none;
}
.noAnswer {
  display: none;
}
